@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");
body {
    overflow-x: hidden;
    font-family: 'opensans-regular', sans-serif;
    color: #838C95;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

.img-centered {
    margin: 0 auto;
}

header {
    color: #fff;
    background: white;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
}

header .name {
    color: #2c3e50;
    text-align: center;
    /*    border: 1px solid red;*/
}

@media(min-width:768px) {
    header .container {
        padding-bottom: 10px;
    }
    header .name {
        font-size: 4.75em;
    }
    header .intro-text .skills {
        font-size: 1.75em;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }
}

.navbar {
    text-align: center;
    font-size: 18px;
    padding: 5px 0px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 2px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 30px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #ecf0f1;
    padding-bottom: 80px;
}

@media(max-width:767px) {
    section {
        padding: 5px 0;
    }
    section.first {
        padding-top: 75px;
    }
}

.btn-outline {
    margin-top: 30px;
    border-radius: 0px;
    border: solid 2px #000;
    font-size: 20px;
    color: #000;
    background-color: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #000;
    color: white;
    background-color: #000;
}

footer .name {
    font-size: 24px;
    color: #2c3e50;
    padding: 20px 0px;
}

footer .footer-above {
    padding: 50px 0px;
    background-color: #99CC90;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 5px 0;
    background-color: #99CC99;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}