@import url("fonts.css");
body {
    font-family: 'opensans-regular', sans-serif;
    color: #838C95;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}


/*Navigation*/

.navbar {
    text-align: center;
    font-size: 18px;
    padding: 5px 0px;
}

.navbar-default {
    background-color: #FF9999;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.current {
    background-color: black;
}

.navbar-default .navbar-nav > li.current > a:hover {
    color: white;
}

.navbar .navbar-nav {
    letter-spacing: 2px;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}


/*Logo*/

.silogo {
    height: 100px;
    /*    border: 1px solid red;*/
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}

.silogo img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    display: block;
    margin: auto;
}


/*Footer*/

footer .name {
    font-size: 24px;
    color: #2c3e50;
    padding: 20px 0px;
}

footer .footer-above {
    padding: 50px 0px;
    background-color: #99CC90;
}

footer .footer-below {
    padding: 5px 0;
    background-color: #99CC99;
}

.siboxf {
    margin-top: 10px;
    color: azure;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    /*    border: 1px solid brown;*/
}

.siboxf p {
    font-size: 22px;
    font-weight: 800;
    color: brown;
    padding-top: 5px;
    margin-bottom: 15px;
    display: block;
    border-bottom: 2px solid brown;
}

.siboxf span {
    font-size: 20px;
    padding: 5px 10px;
}

.siboxf ul {
    padding: 0px;
    padding-top: 10px;
}

.siboxf ul li {
    list-style: none;
    display: inline-block;
    font-size: 40px;
    padding: 10px 15px;
}

.siboxf a {
    color: brown;
}

.siboxf ul li a:hover {
    color: white;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}


/*Media Queries*/

@media(min-width:768px) {
    header .container {
        padding-bottom: 10px;
    }
    header .intro-text .skills {
        font-size: 1.75em;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }
}

@media(max-width:767px) {
    section {
        padding: 5px 0;
    }
    section.first {
        padding-top: 75px;
    }
}

@media only screen and (max-width:250px) {
    .silink {
        padding: 0px;
    }
}