.adminsec {
    background-color: #ecf0f1;
    padding: 140px 0px;
}

.sihban {
    min-height: 105px;
    background-color: #fff;
    margin-top: 60px;
}

.sihhead {
    font-size: 80px;
    text-align: center;
    color: dimgray;
}

.sep {
    padding-bottom: 20px;
}

.sibox1 {
    font-size: 22px;
    color: black;
    border: 1px solid #95A5A6;
    text-align: center;
    padding: 25px;
}

.sibox1 p {
    font-size: 18px;
    padding-top: 20px;
}

.sibox2 {
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 15px;
    border: 0px;
}