body { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 24px;
    height: auto;
}

.sd{
    background-color: rgba(0,0,0,0.8);
    margin-top: 80px;
}

.jsname{
    text-align: center;
    font-size: 60px;
    margin: 40px 0px;
}

.jspic{
    padding-top: 20px;
}

.jspic img:hover{
    opacity: 20;
  filter: alpha(opacity=4000);
  opacity: 0.3;
  filter: alpha(opacity=40);
    -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.mask {
    width: 170px;
	height: 170px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.jspic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jsth{
    padding: 30px 130px;
}

.jsdes{
    text-indent: 90px;
    padding: 10px 40px;
}

@media screen and (max-width: 62em) {
    
.jsth{
    padding: 50px 50px;
}    
}

@media screen and (max-width: 28em) {
    body { 
  font-size: 18px;
}
    
}

