body { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 24px;
    height: auto;
}

.sd{
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    margin-top: 80px;
}

.jsname{
    font-size: 60px;
    margin: 20px 0px;
    margin-bottom: -10px;
}

.jsid{
    font-size: 32px;
    padding: 20px 0px;
}
.soc{
      padding: 0px;
    font-size: 35px;
    list-style-type: none;
}

.soc li{
    display: inline-block;
    margin: 25px;
}

a{
    color: brown;
}

a:hover,
a:focus{
    color: dimgrey;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.jsad{
    padding: 20px 80px;
}

@media screen and (max-width: 62em) {
    
  
}

@media screen and (max-width: 28em) {
    body { 
  font-size: 18px;
}
    .jsname{
    font-size: 24px;
}
    .soc{
      
    font-size: 20px;
    list-style-type: none;
}

.soc li{
    display: inline-block;
    margin: 7px;
}
    
    .jsad{
    padding: 20px 0px;
}
    
    .jsid{
    font-size: 24px;
    padding: 20px 0px;
}
}