.pjimg { height: 420px;}

.pjabt{font-size: 24px; padding: 30px;}

.pjfive ul {list-style-type: none; padding: 30px 0px; font-size:24px; }

.pjplace{
    padding: 90px 0px;
    font-size: 60px;
    
    visibility: visible;
    overflow: hidden;
    background-image: url(../images/chennai-01-01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pjbtn {font-size: 26px; border: 2px solid #27AD60; padding: 2px;}

.pjlevel{font-size: 20px;}

.progress{border-radius: 0px; background-color:#c0392b; height: 5px;}

.progress-bar{background-color:#27ae60;}

@media screen and (max-width: 28em) {
    .pjimg { height: 250px;}
    
    .pjabt{font-size: 20px; padding: 10px;}
    
    .pjplace{padding: 30px 0px;font-size: 30px;}
    
}