.aboutsec {
    background-color: #ecf0f1;
    padding: 120px 0px;
}

.sihban {
    min-height: 105px;
    background-color: #fff;
    margin-top: 60px;
}

.sihhead {
    font-size: 100px;
    text-align: center;
    color: dimgray;
}

.sep {
    padding-bottom: 20px;
}

.sifirst {
    font-size: 22px;
    text-indent: 40px;
}