.pjhello{text-align: left;}

.pjone {text-indent: 50px; margin: 60px 0px; text-align: left;}

.pjtwo {font-size: 90px;}

.pjthree {font-size: 60px; padding: 20px 0px;}

.pjfive {padding: 30px 0px;}

.pjfive ul {list-style-type: none; padding: 30px 0px;}

.pjsix {padding-top: 15px; padding-bottom: 50px;}

.pjseven {font-size: 38px;}

.pjseven p {padding-top: 20px;}

.pjbtnsec {padding: 50px 0px;}

.pjbtn {
    font-size: 36px;
    background-color: #f0f0f0;
    border: 6px solid #27AD60;
    border-radius: 0px;
    margin: 40px 0px;
    padding: 10px 0px;
    color: black;
}

.pjbtn:hover,
.pjbtn:focus,
.pjbtn:active {
    color: #fff;
    background-color: #27AD60;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media screen and (max-width: 48em) {
    .pjtwo {font-size: 50px;}
    
    .pjthree {font-size: 30px;}
    
    .pjbtn {font-size: 16px;}

    .pjlogo1 {height: 30px;}
}

@media screen and (max-width: 28em) {
    body {font-size: 20px;}
    
    .pjnavul ul { font-size: 16px;}
    
    .pjtwo {font-size: 20px;}
    
    .pjthree {font-size: 14px;}
    
    .pjfive {padding: 10px 0px;}
    
    .pjseven {font-size: 16px;}
    
    .pjlogo1 { height: 20px;}
}